:root {
	--aqua: #a3c7dd;
	--tan: #ecdcc9;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--aqua);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	width: 100vw;
	min-height: 100vh;
	background: var(--sky);
	background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
}

.sun {
	width: 6rem;
	height: 6rem;
	background: var(--tan, 18);
	border-radius: 50%;
	filter: blur(2px);
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
}

/* Rainbow */

.semicircle1 {
	position: relative;
	background-color: red;
	border-radius: 600px 600px 0 0;
	height: 37.5rem;
	width: 75rem;
}

.semicircle2 {
	position: relative;
	background-color: orange;
	border-radius: 600px 600px 0 0;
	height: 33.75rem;
	width: 67.5rem;
	top: 60px;
	left: 60px;
}

.semicircle3 {
	position: relative;
	background-color: yellow;
	border-radius: 600px 600px 0 0;
	height: 30rem;
	width: 60rem;
	top: 60px;
	left: 60px;
}

.semicircle4 {
	position: relative;
	background-color: green;
	border-radius: 600px 600px 0 0;
	height: 26.25rem;
	width: 52.5rem;
	top: 60px;
	left: 60px;
}

.semicircle5 {
	position: relative;
	background-color: blue;
	border-radius: 600px 600px 0 0;
	height: 22.5rem;
	width: 45rem;
	top: 60px;
	left: 60px;
}

.semicircle6 {
	position: relative;
	background-color: indigo;
	border-radius: 600px 600px 0 0;
	height: 18.75rem;
	width: 37.5rem;
	top: 60px;
	left: 60px;
}

.semicircle7 {
	position: relative;
	background-color: violet;
	border-radius: 600px 600px 0 0;
	height: 15rem;
	width: 30rem;
	top: 60px;
	left: 60px;
}

.semicircle8 {
	position: relative;
	background: var(--sky);
	background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
	border-radius: 600px 600px 0 0;
	height: 11.25rem;
	width: 22.5rem;
	top: 60px;
	left: 60px;
}

/* Rainbow Media Queries */

@media only screen and (max-width: 1300px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 600px 600px 0 0;
		height: 35rem;
		width: 70rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 600px 600px 0 0;
		height: 31.25rem;
		width: 62.5rem;
		top: 59.5px;
		left: 60px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 600px 600px 0 0;
		height: 26.25rem;
		width: 52.5rem;
		top: 79.5px;
		left: 79.5px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 600px 600px 0 0;
		height: 22.5rem;
		width: 45rem;
		top: 61px;
		left: 61px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 600px 600px 0 0;
		height: 18.75rem;
		width: 37.5rem;
		top: 60px;
		left: 60px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 600px 600px 0 0;
		height: 15rem;
		width: 30rem;
		top: 60px;
		left: 60px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 600px 600px 0 0;
		height: 11.25rem;
		width: 22.5rem;
		top: 60px;
		left: 60px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 600px 600px 0 0;
		height: 7.5rem;
		width: 15rem;
		top: 60px;
		left: 60px;
	}
}

@media only screen and (max-width: 1200px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 600px 600px 0 0;
		height: 30rem;
		width: 60rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 600px 600px 0 0;
		height: 26.25rem;
		width: 52.5rem;
		top: 59.5px;
		left: 60px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 600px 600px 0 0;
		height: 21.25rem;
		width: 42.5rem;
		top: 79.5px;
		left: 79.5px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 600px 600px 0 0;
		height: 17.5rem;
		width: 35rem;
		top: 61px;
		left: 61px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 600px 600px 0 0;
		height: 13.75rem;
		width: 27.5rem;
		top: 60px;
		left: 60px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 600px 600px 0 0;
		height: 10rem;
		width: 20rem;
		top: 60px;
		left: 60px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 600px 600px 0 0;
		height: 6.25rem;
		width: 12.5rem;
		top: 60px;
		left: 60px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 600px 600px 0 0;
		height: 2.5rem;
		width: 5rem;
		top: 60px;
		left: 60px;
	}
}

@media only screen and (max-width: 1025px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 600px 600px 0 0;
		height: 26.25rem;
		width: 52.5rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 600px 600px 0 0;
		height: 22.5rem;
		width: 45rem;
		top: 59.5px;
		left: 60px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 600px 600px 0 0;
		height: 18.75rem;
		width: 37.5rem;
		top: 60px;
		left: 60px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 600px 600px 0 0;
		height: 15rem;
		width: 30rem;
		top: 61px;
		left: 61px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 600px 600px 0 0;
		height: 11.25rem;
		width: 22.5rem;
		top: 60px;
		left: 60px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 600px 600px 0 0;
		height: 7.5rem;
		width: 15rem;
		top: 60px;
		left: 60px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 600px 600px 0 0;
		height: 3.75rem;
		width: 7.5rem;
		top: 60px;
		left: 60px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 600px 600px 0 0;
		height: 1.5rem;
		width: 3rem;
		top: 37.5px;
		left: 37.5px;
	}
}

@media only screen and (max-width: 890px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 350px 350px 0 0;
		height: 22.5rem;
		width: 45rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 350px 350px 0 0;
		height: 19rem;
		width: 38rem;
		top: 55.95px;
		left: 55.95px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 350px 350px 0 0;
		height: 15.5rem;
		width: 31rem;
		top: 55.95px;
		left: 55.95px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 350px 350px 0 0;
		height: 12rem;
		width: 24rem;
		top: 55.95px;
		left: 55.95px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 350px 350px 0 0;
		height: 8.5rem;
		width: 17rem;
		top: 55.95px;
		left: 55.95px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 350px 350px 0 0;
		height: 5rem;
		width: 10rem;
		top: 55.95px;
		left: 55.95px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 350px 350px 0 0;
		height: 1.5rem;
		width: 3rem;
		top: 55.95px;
		left: 55.95px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 350px 350px 0 0;
		height: 0.5rem;
		width: 0.5rem;
		top: 55.95px;
		left: 55.95px;
	}
}

@media only screen and (max-width: 790px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 300px 300px 0 0;
		height: 20rem;
		width: 40rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 300px 300px 0 0;
		height: 17.5rem;
		width: 35rem;
		top: 40px;
		left: 40px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 300px 300px 0 0;
		height: 15rem;
		width: 30rem;
		top: 40px;
		left: 40px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 300px 300px 0 0;
		height: 12.5rem;
		width: 25rem;
		top: 40px;
		left: 40px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 300px 300px 0 0;
		height: 10rem;
		width: 20rem;
		top: 40px;
		left: 40px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 300px 300px 0 0;
		height: 7.5rem;
		width: 15rem;
		top: 40px;
		left: 40px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 300px 300px 0 0;
		height: 5rem;
		width: 10rem;
		top: 40px;
		left: 40px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 300px 300px 0 0;
		height: 2.5rem;
		width: 5rem;
		top: 40px;
		left: 40px;
	}
}

@media only screen and (max-width: 685px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 300px 300px 0 0;
		height: 17.5rem;
		width: 35rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 300px 300px 0 0;
		height: 15.75rem;
		width: 31.5rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 300px 300px 0 0;
		height: 14rem;
		width: 28rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 300px 300px 0 0;
		height: 12.25rem;
		width: 24.5rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 300px 300px 0 0;
		height: 10.5rem;
		width: 21rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 300px 300px 0 0;
		height: 8.75rem;
		width: 17.5rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 300px 300px 0 0;
		height: 7rem;
		width: 14rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 300px 300px 0 0;
		height: 5.25rem;
		width: 10.5rem;
		top: 28.5px;
		left: 28.5px;
	}
}

@media only screen and (max-width: 600px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 300px 300px 0 0;
		height: 15rem;
		width: 30rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 300px 300px 0 0;
		height: 13.25rem;
		width: 26.5rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 300px 300px 0 0;
		height: 11.5rem;
		width: 23rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 300px 300px 0 0;
		height: 9.75rem;
		width: 19.5rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 300px 300px 0 0;
		height: 8rem;
		width: 16rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 300px 300px 0 0;
		height: 6.25rem;
		width: 12.5rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 300px 300px 0 0;
		height: 4.5rem;
		width: 9rem;
		top: 28.5px;
		left: 28.5px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 300px 300px 0 0;
		height: 2.75rem;
		width: 5.5rem;
		top: 28.5px;
		left: 28.5px;
	}
}

@media only screen and (max-width: 500px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 300px 300px 0 0;
		height: 13.75rem;
		width: 27.5rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 300px 300px 0 0;
		height: 12rem;
		width: 24rem;
		top: 28px;
		left: 28px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 300px 300px 0 0;
		height: 10.75rem;
		width: 21.5rem;
		top: 20px;
		left: 20px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 300px 300px 0 0;
		height: 9.5rem;
		width: 19rem;
		top: 21px;
		left: 21px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 300px 300px 0 0;
		height: 8.25rem;
		width: 16.5rem;
		top: 20px;
		left: 20px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 300px 300px 0 0;
		height: 7rem;
		width: 14rem;
		top: 20px;
		left: 20px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 300px 300px 0 0;
		height: 5.75rem;
		width: 11.5rem;
		top: 21px;
		left: 21px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 300px 300px 0 0;
		height: 4.5rem;
		width: 9rem;
		top: 20px;
		left: 20px;
	}
}

@media only screen and (max-width: 450px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 275px 275px 0 0;
		height: 12.5rem;
		width: 25rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 600px 600px 0 0;
		height: 11.25rem;
		width: 22.5rem;
		top: 20px;
		left: 20px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 600px 600px 0 0;
		height: 10rem;
		width: 20rem;
		top: 20px;
		left: 20px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 600px 600px 0 0;
		height: 8.75rem;
		width: 17.5rem;
		top: 20px;
		left: 20px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 600px 600px 0 0;
		height: 7.5rem;
		width: 15rem;
		top: 20px;
		left: 20px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 600px 600px 0 0;
		height: 6.25rem;
		width: 12.5rem;
		top: 20px;
		left: 20px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 600px 600px 0 0;
		height: 5rem;
		width: 10rem;
		top: 20px;
		left: 20px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 600px 600px 0 0;
		height: 3.75rem;
		width: 7.5rem;
		top: 20px;
		left: 20px;
	}
}

@media only screen and (max-width: 375px) {
	.semicircle1 {
		position: relative;
		background-color: red;
		border-radius: 275px 275px 0 0;
		height: 9rem;
		width: 18rem;
	}

	.semicircle2 {
		position: relative;
		background-color: orange;
		border-radius: 600px 600px 0 0;
		height: 7.75rem;
		width: 15.5rem;
		top: 20px;
		left: 20px;
	}

	.semicircle3 {
		position: relative;
		background-color: yellow;
		border-radius: 600px 600px 0 0;
		height: 6.5rem;
		width: 13rem;
		top: 20px;
		left: 20px;
	}

	.semicircle4 {
		position: relative;
		background-color: green;
		border-radius: 600px 600px 0 0;
		height: 5.25rem;
		width: 10.5rem;
		top: 20px;
		left: 20px;
	}

	.semicircle5 {
		position: relative;
		background-color: blue;
		border-radius: 600px 600px 0 0;
		height: 4rem;
		width: 8rem;
		top: 20px;
		left: 20px;
	}

	.semicircle6 {
		position: relative;
		background-color: indigo;
		border-radius: 600px 600px 0 0;
		height: 2.75rem;
		width: 5.5rem;
		top: 20px;
		left: 20px;
	}

	.semicircle7 {
		position: relative;
		background-color: violet;
		border-radius: 600px 600px 0 0;
		height: 1.5rem;
		width: 3rem;
		top: 20px;
		left: 20px;
	}

	.semicircle8 {
		position: relative;
		background: var(--sky);
		background: linear-gradient(5deg, rgba(12, 137, 214, 0.9), rgba(61, 156, 214, 0.8), rgba(235, 238, 240, 0.363));
		border-radius: 600px 600px 0 0;
		height: 0.25rem;
		width: 0.5rem;
		top: 20px;
		left: 20px;
	}
}

/* unicorn css */
.unicorn:hover {
	cursor: pointer;
}
.unicorn {
  position: absolute;
  left: 45%;
  top: 40%;
}

.face {
  height: 6rem;
  width: 8rem;
  background: #EFEEEF;
  border-radius: 4rem;
  transform: rotate(20deg);
}

.face *,
.neck * {
  position: absolute;
}

.cheek {
  width: 3rem;
  height: 3rem;
  background: radial-gradient(#ECCBDF 5%, #EFEEEF 70%);
  top: 2rem;
  left: 4rem;
  border-radius: 50%;
  z-index: 1;
}

.snoot {
  height: 7rem;
  width: 14rem;
  background: #EFEEEF;
  left: -5rem;
  border-radius: 4rem;
  transform: rotate(-40deg);
}

.nose {
  height: 7rem;
  width: 3.5rem;
  background: #E4A3CA;
  border-radius: 50% 0 0 50%;
}

.nostril {
  height: 2rem;
  width: 1rem;
  background: #5A5056;
  top: 1.5rem;
  left: 1rem;
  border-radius: 50%;
}

.eye {
  width: 2.5rem;
  height: 1rem;
  background: #332A2F;
  left: 3rem;
  border-radius: 3rem 3rem 0 0;
}

.eyeball {
  height: 1rem;
  width: 0.5rem;
  background: #332A2F;
  top: -0.2rem;
  left: 1rem;
}

/* .eyelashes::before {
  content: "";
  height: 1rem;
  width: 0.5rem;
  background: #332A2F;
  position: absolute;
  top: 0.25rem;
  left: -1rem;
  transform: rotate(-40deg);
}

.eyelashes::after {
  content: "";
  height: 1rem;
  width: 0.5rem;
  background: #332A2F;
  position: absolute;
  top: 0.25rem;
  left: 1rem;
  transform: rotate(30deg);
} */

.eye::after {
  content: "";
  height: 1rem;
  width: 1.5rem;
  background: #EFEEEF;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  border-radius: 3rem 3rem 0 0;
}

.eyeball {
	width: 2rem;
	height: 2rem;
	background: rgb(0, 0, 0);
	border-radius: 5rem;
	left: 0.25rem;
}

/* .eyelashes {
	height: 1rem;
	width: 0.5rem;
	background: #332A2F;
	top: -0.5rem;
	left: 1rem;
}

.eyelashes::before {
	content: "";
	height: 1rem;
	width: 0.5rem;
	background: #332A2F;
	position: absolute;
	top: 0.25rem;
	left: -1rem;
	transform: rotate(-40deg);
}

.eyelashes::after {
	content: "";
	height: 1rem;
	width: 0.5rem;
	background: #332A2F;
	position: absolute;
	top: 0.25rem;
	left: 1rem;
	transform: rotate(30deg);
} */

.ear {
  border-left:2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 4rem solid #EFEEEF;
  top: -5rem;
  left: 2.5rem;
  transform: rotate(-5deg);
  z-index: 1;
}

.ear::after {
  content: "";
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 2rem solid #E4A3CA;
  position: absolute;
  top: 0.75rem;
  left: -0.75rem;
}

.horn {
  height: 7rem;
  width: 3rem;
  background: repeating-linear-gradient(
    -25deg,
    #FFE3AA,
    #FFE3AA 0.5rem,
    #bea97e 1rem,
    #bea97e 0.5rem
  );
  top: -7rem;
  left: -0.5rem;
  transform: rotate(-55deg);
  z-index: -1;
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.mane.top {
  height: 2rem;
  width: 4rem;
  top: -1.5rem;
  left: 1.5rem;
  border-radius: 50%;
  box-shadow: 7px 1rem 0 6px #A891B6;
  transform: rotate(140deg);
}

.mane.top::before {
  content: "";
  height: 2rem;
  width: 3rem;
  position: absolute;
  top: 2.5rem;
  left: -3rem;
  border-radius: 50%;
  box-shadow: 5px 1rem 0 6px #FFEAD9;
  transform: rotate(260deg);
}

.mane.top::after {
  content: "";
  height: 2rem;
  width: 4rem;
  position: absolute;
  top: -0.5rem;
  left: -2rem;
  border-radius: 50%;
  box-shadow: 5px 1rem 0 6px #C6E8D7;
  transform: rotate(100deg);
}

.mane.mid {
  height: 2rem;
  width: 4rem;
  top: -1rem;
  left: 4.5rem;
  border-radius: 50%;
  box-shadow: 3px 1rem 0 8px #FFCBC1;
  transform: rotate(250deg);
  z-index: -1;
}

.mane.mid::before {
  content: "";
  height: 2rem;
  width: 4rem;
  position: absolute;
  left: -2rem;
  border-radius: 50%;
  box-shadow: 5px 1rem 0 6px #AFC8FF;
  transform: rotate(40deg);
}

.mane.mid::after {
  content: "";
  height: 2rem;
  width: 4rem;
  position: absolute;
  top: 1rem;
  left: -1rem;
  border-radius: 50%;
  box-shadow: 0 1rem 0 0.5rem #FF9CEE;
  transform: rotate(40deg);
  z-index: -1;
}

/* .neck {
  position: absolute;
  height: 5rem;
  width: 3rem;
  background: #EFEEEF;
  left: 5rem;
  top: 5rem;
  transform: skew(-20deg);
  z-index: -1;
} */

.mane.end {
  height: 2rem;
  width: 4rem;
  top: 1rem;
  border-radius: 50%;
  box-shadow: 3px 1rem 0 8px #B6EDB6;
  transform: rotate(270deg);
}

.mane.end::before {
  content: "";
  height: 3rem;
  width: 5rem;
  position: absolute;
  left: 1rem;
  border-radius: 50%;
  box-shadow: 5px 1rem 0 6px #CCAAFF;
}

.mane.end::after {
  content: "";
  height: 3rem;
  width: 5rem;
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  border-radius: 50%;
  box-shadow: 5px 1rem 0 6px #FFBDBD;
  transform: rotate(30deg);
  z-index: -1;
}

/* unicorn */
.unicorn {
	position: absolute;
	left: 45%;
	top: 40%;
}

.face {
	height: 6rem;
	width: 8rem;
	background: #EFEEEF;
	border-radius: 4rem;
	transform: rotate(20deg);
}

.face * {
	position: absolute;
}

.cheek {
	width: 3rem;
	height: 3rem;
	background: radial-gradient(#ECCBDF 5%, #EFEEEF 70%);
	top: 2rem;
	left: 4rem;
	border-radius: 50%;
	z-index: 1;
}

.snoot {
	height: 7rem;
	width: 14rem;
	background: #EFEEEF;
	left: -5rem;
	border-radius: 4rem;
	transform: rotate(-40deg);
}

.nose {
	height: 7rem;
	width: 3.5rem;
	background: #E4A3CA;
	border-radius: 50% 0 0 50%;
}

.nostril {
	height: 2rem;
	width: 1rem;
	background: #5A5056;
	top: 1.5rem;
	left: 1rem;
	border-radius: 50%;
}

/* .eye::after {
	content: "";
	height: 1rem;
	width: 1.5rem;
	background: #EFEEEF;
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
	border-radius: 3rem 3rem 0 0;
} */


.ear {
	border-left: 2rem solid transparent;
	border-right: 2rem solid transparent;
	border-bottom: 4rem solid #EFEEEF;
	top: -5rem;
	left: 2.5rem;
	transform: rotate(-5deg);
	z-index: 1;
}

.ear::after {
	content: "";
	border-left: 0.75rem solid transparent;
	border-right: 0.75rem solid transparent;
	border-bottom: 2rem solid #E4A3CA;
	position: absolute;
	top: 0.75rem;
	left: -0.75rem;
}

.horn {
	height: 7rem;
	width: 3rem;
	background: repeating-linear-gradient(-25deg,
			#FFE3AA,
			#FFE3AA 0.5rem,
			#bea97e 1rem,
			#bea97e 0.5rem);
	top: -7rem;
	left: -0.5rem;
	transform: rotate(-55deg);
	z-index: -1;
	clip-path: polygon(50% 0, 0 100%, 100% 100%);
	-webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.mane.top {
	height: 2rem;
	width: 4rem;
	top: -1.5rem;
	left: 1.5rem;
	border-radius: 50%;
	box-shadow: 7px 1rem 0 6px #A891B6;
	transform: rotate(140deg);
}

.mane.top::before {
	content: "";
	height: 2rem;
	width: 3rem;
	position: absolute;
	top: 2.5rem;
	left: -3rem;
	border-radius: 50%;
	box-shadow: 5px 1rem 0 6px #FFEAD9;
	transform: rotate(260deg);
}

.mane.top::after {
	content: "";
	height: 2rem;
	width: 4rem;
	position: absolute;
	top: -0.5rem;
	left: -2rem;
	border-radius: 50%;
	box-shadow: 5px 1rem 0 6px #C6E8D7;
	transform: rotate(100deg);
}

.mane.mid {
	height: 2rem;
	width: 4rem;
	top: -1rem;
	left: 4.5rem;
	border-radius: 50%;
	box-shadow: 3px 1rem 0 8px #FFCBC1;
	transform: rotate(250deg);
	z-index: -1;
}

.mane.mid::before {
	content: "";
	height: 2rem;
	width: 4rem;
	position: absolute;
	left: -2rem;
	border-radius: 50%;
	box-shadow: 5px 1rem 0 6px #AFC8FF;
	transform: rotate(40deg);
}

.mane.mid::after {
	content: "";
	height: 2rem;
	width: 4rem;
	position: absolute;
	top: 1rem;
	left: -1rem;
	border-radius: 50%;
	box-shadow: 0 1rem 0 0.5rem #FF9CEE;
	transform: rotate(40deg);
	z-index: -1;
}

@media only screen and (max-width: 790px) {
	.face {
		height: 3rem;
		width: 3rem;
		background: #EFEEEF;
		border-radius: 4rem;
		transform: rotate(20deg);
	}
}

.unicorn {
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}
